:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --logo-color: #000000;
  --background-color-button: #f5f4fa;
  --background-color-active-button: #188ce8;
  --background-color-footer: #2f303a;
  --background-color-hero: #2f303a;
  --icon-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  box-sizing: border-box;
}

* *::before *::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--hero-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--hero-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  transition: fill var(--transition-dur-and-func);
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-nav-list__item {
  margin-bottom: 32px;
}

.mobile-nav-list__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-dur-and-func);
}
.mobile-nav-list__link:hover, .mobile-nav-list__link:focus {
  color: var(--accent-color);
}

.mobile-nav-list__link_current {
  color: var(--accent-color);
}

.mobile-contact-list {
  margin-bottom: 64px;
}

.mobile-contact-list__item {
  margin-bottom: 32px;
}

.mobile-contact-list__item_email {
  margin-bottom: 0;
}

.mobile-contact-list__link_tel {
  font-size: 34px;
  font-weight: 500;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contact-list__link_email {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-social-list {
  display: flex;
  column-gap: 10px;
}

.mobile-social-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(90deg);
}

.mobile-social-list__link_linkedin {
  border: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.modal-open-btn {
  padding: 10px 24px;
  margin: 0 auto;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.modal-open-btn:hover, .modal-open-btn:focus {
  background-color: var(--background-color-active-button);
}
@media screen and (min-width: 1200px) {
  .modal-open-btn {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
}

.header-logo__logo_blue {
  color: var(--accent-color);
}

.header-logo__logo_black {
  color: var(--logo-color);
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}
.menu-contacts__item {
  display: block;
}

.menu-contacts__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: color var(--transition-dur-and-func);
}
.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: var(--accent-color);
}

.menu-contacts__link_tel {
  margin-bottom: 0;
}

.menu-contacts__icon {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .menu-contacts {
    column-gap: 50px;
    margin-left: auto;
    align-items: center;
  }
  .menu-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    justify-content: center;
  }
  .menu-contacts__icon {
    margin-right: 10px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    height: 100vh;
    max-height: 609px;
    padding: 40px;
    background-color: var(--hero-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--hero-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    transition: fill var(--transition-dur-and-func);
  }
  .modal__close-btn:hover, .modal__close-btn:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  width: 100%;
  max-width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill var(--transition-dur-and-func);
}
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}

.modal-form__label-comment {
  margin-bottom: 20px;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__message::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.modal-form__check {
  position: absolute;
  appearance: none;
  transition: box-shadow var(--transition-dur-and-func);
}

.modal-form-own-checkbox {
  cursor: pointer;
  margin-right: 8px;
  border: 0.2px solid var(--title-text-color);
  border-radius: 2px;
}
.modal-form__check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}
.modal-form__check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 1px var(--accent-color);
}

.modal-form-own-checkbox__icon {
  display: none;
  fill: var(--hero-color);
}
.modal-form__check:checked + .modal-form-own-checkbox .modal-form-own-checkbox__icon {
  display: block;
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form-sabmit {
  border-radius: 4px;
  padding: 10px 52px;
  margin: 0 auto;
  min-width: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-sabmit:hover, .modal-form-sabmit:focus {
  background-color: var(--background-color-active-button);
}

@media screen and (min-width: 768px) {
  .modal-form__message {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__input {
    max-width: 448px;
  }
  .modal-form__check-field {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
}
.footer-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-color);
}

.footer-form__input {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-footer);
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  color: var(--hero-color);
  transition: border-color var(--transition-dur-and-func);
}
.footer-form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form-btn-submit {
  min-width: 200px;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  column-gap: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}
.footer-form-btn-submit:hover, .footer-form-btn-submit:focus {
  background-color: var(--background-color-active-button);
  outline: none;
}

.footer-form__icon {
  fill: var(--hero-color);
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
  .footer-form__field {
    display: flex;
    column-gap: 12px;
  }
  .footer-form__input {
    min-width: 358px;
    margin-bottom: 0;
  }
}
.menu-navigation {
  display: none;
}

.menu-contacts {
  display: none;
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background: transparent;
  padding: 0;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0;
  border-bottom: 1px solid #ececec;
  border-right: 0;
  border-left: 0;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu-navigation {
    display: block;
  }
  .menu-contacts {
    display: block;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .menu-nav {
    display: flex;
    align-items: center;
  }
  .menu-navigation {
    display: flex;
    column-gap: 50px;
  }
  .menu-navigation__item {
    position: relative;
  }
  .menu-navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu-navigation__link:hover, .menu-navigation__link:focus {
    color: var(--accent-color);
  }
  .menu-navigation__link_current {
    color: var(--accent-color);
  }
  .menu-navigation__link_current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header-container {
    display: flex;
    align-items: center;
  }
  .menu-contacts {
    display: flex;
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}
.featyres__title {
  color: var(--title-text-color);
}

.featyres-list__item {
  max-width: 450px;
  margin-bottom: 30px;
}

.featyres-list__item_last {
  margin-bottom: 0;
}

.featyres-list__box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-button);
  border-radius: 4px;
}

.featyres-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
}

.featyres-list__text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .featyres-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .featyres-list__item {
    max-width: 354px;
  }
  .featyres-list__box-icon {
    max-width: 354px;
  }
  .featyres-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .featyres {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .featyres-list {
    flex-wrap: nowrap;
  }
  .featyres-list__item {
    max-width: 270px;
  }
  .featyres-list__box-icon {
    max-width: 270px;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.work-list {
  display: flex;
  column-gap: 30px;
}

.work-list__img {
  width: 370px;
}

.work-list__item {
  width: 370px;
}

.work-list__wrapper {
  position: relative;
}

.work-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--hero-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: var(--background-color-button);
}

.team-list {
  width: 100%;
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

.team-list__item {
  max-width: 450px;
  margin-bottom: 30px;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item_last {
  margin-bottom: 0;
}

.team-list__team {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-list__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--hero-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-list__item {
    max-width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list__team {
    padding: 30px 15px;
  }
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
  .team-list {
    display: flex;
    column-gap: 30px;
  }
  .team-list__item {
    max-width: 270px;
  }
}
.client__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-list__item {
  width: calc((100% - 30px) / 2);
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  fill: currentColor;
  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .client {
    padding-top: 0;
  }
  .client-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__title {
    margin-bottom: 50px;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
  .client-list {
    flex-wrap: nowrap;
  }
  .client-list__item {
    width: calc((100% - 150px) / 6);
  }
}
.page-footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
}

.page-container {
  margin-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}

.footer-logo__logo_blue {
  color: var(--accent-color);
}

.footer-logo__logo_white {
  color: var(--hero-color);
}

.footer-contacts {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts__item {
  margin-bottom: 8px;
}

.footer-contacts__item_phone {
  margin-bottom: 0;
}

.footer-contacts__adress {
  color: var(--hero-color);
  transition: color var(--transition-dur-and-func);
}
.footer-contacts__adress:hover, .footer-contacts__adress:focus {
  color: var(--accent-color);
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-color);
}

.footer-social-list {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--accent-color);
}

.footer-social-list__icon {
  fill: var(--hero-color);
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    align-items: baseline;
  }
  .page-container {
    margin-right: 165px;
    padding-left: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
    display: flex;
    align-items: baseline;
  }
  .footer-logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
  .footer-contacts__item {
    margin-bottom: 9px;
  }
  .footer-contacts__item_phone {
    margin-bottom: 0;
  }
  .page-container {
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.filter {
  column-gap: 8px;
  margin-bottom: 50px;
}

.secondary-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--background-color-button);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.secondary-btn:hover, .secondary-btn:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__item {
  display: flex;
  width: 370px;
}

.portfolio-list__link {
  width: 100%;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-color);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  font-size: 18px;
  line-height: 1.56;
}
.portfolio-list__link:hover .portfolio-list__overlay, .portfolio-list__link:focus .portfolio-list__overlay {
  transform: translateY(0%);
}

.test-container {
  max-width: 370px;
  padding: 20px 24px;
  border-top: 0;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.test-container__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.test-container__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */