.client__title {
  margin-bottom: 30px;
  @include font(28px, 700);
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.client-list__item {
  width: calc((100% - 30px) /2);
}
.client-list__link {
  display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  fill: currentColor;
  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
    &:hover,
    &:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
}
@media screen and(min-width: 768px) {
  .client {
    padding-top: 0;
  }
  .client-list__item {
    width: calc((100% - 60px) /3);
  }
}

@media screen and(min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__title {
    margin-bottom: 50px;
    font-style: normal;
    @include font(36px, 700);
    line-height: 1.17;
  }
  .client-list {
    flex-wrap: nowrap;
  }
  .client-list__item {
    width: calc((100% - 150px) /6); 
  }
  
}

  