.team {
  background-color: var(--background-color-button);
}
.team-list{
  width: 100%;
}
.team__title {
  margin-bottom: 30px;
  @include font(28px, 700);
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
.team-list__item {
  max-width: 450px;
  margin-bottom: 30px;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item_last {
  margin-bottom: 0;
}
.team-list__team {
  padding-top: 30px;
  padding-bottom: 24px;
  
}
.team-list__title {
  margin-bottom: 10px;
  @include font(16px, 500);
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-color);
  transition: background-color var(--transition-dur-and-func);
  &:hover,
  &:focus {
  background-color: var(--accent-color);
}
}
.social-list__icon {
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
  .social-list__link:hover &,
  .social-list__link:focus & {
  fill: var(--hero-color);
}
}
@media screen and(min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-list__item {
    max-width: 354px;
    margin-bottom: 0;
  }
}
@media screen and(min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list__team {
    padding: 30px 15px;
  }
  .team__title {
    margin-bottom: 50px;
    @include font(36px, 700);
    line-height: 1.17;
  }
  .team-list {
    display: flex;
    column-gap: 30px;
  }
  .team-list__item {
    max-width: 270px;
  }
}


  